In [3]:
import pandas as pd
from sqlalchemy import create_engine
from config import password

### Extracting the data from the CSV

In [4]:
beer_df = pd.read_csv('Resources/beer_reviews.csv')
beer_df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

### Transforming the data to fit into data tables

In [5]:
# Main Data Tables

# brewery_df will have all the brewery information, specifically the id, and the brewery name.
brewery_df = beer_df[['brewery_id','brewery_name']].drop_duplicates(keep='first')
# review_df will have all the various reviews for each of the beer id's or beer_beerid
review_df = beer_df[['beer_beerid','review_overall','review_aroma','review_appearance','review_palate','review_taste','review_taste']].groupby('beer_beerid').mean().round(2)
# beerid_df will have all the beer information such as name, style, and alcohol content for each beer_id
beerid_df = beer_df[['beer_beerid','beer_name','beer_style','beer_abv']].drop_duplicates('beer_beerid', keep='first').set_index('beer_beerid').sort_index()

### Join Tables

In [6]:
# beerid_breweryid_df will match beer_beerid to specific brewery id
beerid_breweryid_df = beer_df[['brewery_id','beer_beerid']].drop_duplicates('beer_beerid').set_index('beer_beerid')

### Loading the table into a database

In [7]:

# creating the database connections
engine = create_engine(f'postgresql://postgres:{password}@localhost/beer_db')

In [10]:
brewery_df.to_sql(name='brewery', con = engine, if_exists = 'append', index = True)
review_df.to_sql(name='review', con = engine, if_exists = 'append', index = True)
beerid_df.to_sql(name='beer', con = engine, if_exists = 'append', index = True)
beerid_breweryid_df.to_sql(name='beer_brewery', con = engine, if_exists = 'append', index = True)

In [11]:
engine.table_names()

<ipython-input-11-d72bc75a6b62>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['brewery', 'review', 'beer', 'beer_brewery']

### Running a query to test tables in the database

In [16]:
# testing the brewery table
query = 'SELECT * FROM brewery'
pd.read_sql_query(query,engine).head()

   index  brewery_id                brewery_name
0      0       10325             Vecchio Birraio
1      4        1075     Caldera Brewing Company
2     10         163      Amstel Brouwerij B. V.
3    393        1454       Broad Ripple Brew Pub
4    403         850  Moon River Brewing Company

In [19]:
# testing beer_brewery and beer tables
query = 'SELECT * FROM brewery INNER JOIN beer_brewery ON brewery.brewery_id = beer_brewery.brewery_id INNER JOIN beer ON beer.beer_beerid = beer_brewery.beer_beerid'
pd.read_sql_query(query, engine).head()

,index,brewery_id,brewery_name,beer_beerid,brewery_id,beer_beerid,beer_name,beer_style,beer_abv
0,45368,2,Yellow Rose Brewing Company,4,2,4,Wildcatter's Crude Stout,American Stout,NaN
1,45368,2,Yellow Rose Brewing Company,4,2,4,Wildcatter's Crude Stout,American Stout,NaN
2,45368,2,Yellow Rose Brewing Company,4,2,4,Wildcatter's Crude Stout,American Stout,NaN
3,368459,3,Abita Brewing Co.,5,3,5,Amber,Vienna Lager,4.5
4,368459,3,Abita Brewing Co.,5,3,5,Amber,Vienna Lager,4.5

In [22]:
# testing beer and review tables
query = 'SELECT * FROM beer INNER JOIN review ON beer.beer_beerid = review.beer_beerid'
pd.read_sql_query(query,engine).head()

,beer_beerid,beer_name,beer_style,beer_abv,beer_beerid,review_overall,review_aroma,review_appearance,review_palate,review_taste
0,3,Cactus Queen IPA,American IPA,NaN,3,4.17,4.00,3.83,4.17,4.17
1,4,Wildcatter's Crude Stout,American Stout,NaN,4,3.70,3.80,3.95,3.70,3.45
2,5,Amber,Vienna Lager,4.5,5,3.55,3.21,3.49,3.32,3.34
3,6,Turbodog,English Brown Ale,5.6,6,3.71,3.52,3.84,3.51,3.65
4,7,Purple Haze,Fruit / Vegetable Beer,4.2,7,3.27,3.18,3.25,3.11,3.10